
*.pyc
__pycache__/
*.pyo
*.pyd

*.log
db.sqlite3

server/myenv/
server/db.sqlite3

client/node_modules/
node_modules/


.env
server/.env


dist/
build/


.vscode/

.DS_Store
Thumbs.db

postgres_data/